#center {
    text-align: center;
}

#textChange{
    color:white;
}   

img{
    width: 600;
    height: 600;
    object-fit: fill;
}

footer{
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom: 0;
}