#center {
    text-align: center;
}

.text-center-p-4{
    color:white;
}   

img{
    height: auto;
    object-fit: fill;
    max-height: 100%;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
